<?xml version="1.0"?>
<robot name="food_cube">
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
      <material name="green">
        <color rgba="0 1 0 1"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <box size="0.025 0.025 0.025"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.00004" ixy="0.0" ixz="0.0" iyy="0.00004" iyz="0.0" izz="0.00004"/>
    </inertial>
  </link>

  <gazebo reference="base_link">
    <material>Gazebo/Green</material>
  </gazebo>
</robot>