<?xml version="1.0"?>
<launch>
  <arg name="arm_id" default="panda"/>
  <arg name="paused" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find vision_processing)/worlds/feeding.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="true"/>
    <arg name="use_sim_time" value="true"/>
  </include>

  <param name="person_description"
         textfile="$(find vision_processing)/urdf/person_seated.urdf"/>

  <node name="spawn_person" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model person -param person_description
              -x 0.3 -y 0.70 -z 0.0
              -R 0 -P 0 -Y -1.5708"/>

  <node name="person_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="robot_description" to="person_description"/>
    <param name="tf_prefix" value="person"/>
  </node>

  <node name="mock_face_detection" pkg="vision_processing" type="mock_face_detection.py"
        output="screen">
    <param name="mouth_frame" value="person/mouth_link"/>
    <param name="rate" value="10"/>
  </node>

  <param name="table_description"
         textfile="$(find vision_processing)/urdf/table.urdf"/>

  <node name="spawn_table" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model table -param table_description
              -x 0.3 -y 0.0 -z 0.0"/>

  <param name="container_description"
         command="$(find xacro)/xacro $(find vision_processing)/urdf/container.xacro"/>

  <node name="spawn_container" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param container_description -model container
              -x 0.43 -y 0.0 -z 0.76"/>

  <param name="food_description"
         textfile="$(find vision_processing)/urdf/food.urdf"/>

  <node name="spawn_food" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param food_description -model food_cube
              -x 0.5 -y 0.0 -z 0.775"/>

  <param name="robot_description"
         command="$(find xacro)/xacro $(find vision_processing)/urdf/panda_camera.xacro arm_id:=$(arg arm_id)"/>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description
              -urdf
              -model panda
              -z 0.75
              -J panda_joint1 -0.000059
              -J panda_joint2 -0.125928
              -J panda_joint3  0.000117
              -J panda_joint4 -2.193312
              -J panda_joint5 -0.000251
              -J panda_joint6  2.064780
              -J panda_joint7  0.785511"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
    <rosparam param="source_list">[/joint_states]</rosparam>
    <rosparam>
      zeros:
        panda_finger_joint1: 0.0
        panda_finger_joint2: 0.0
    </rosparam>
  </node>

  <rosparam file="$(find vision_processing)/config/simple_controllers.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        respawn="false" output="screen"
        args="joint_state_controller joint_group_position_controller"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="true" output="screen"/>

  <node name="franka_state_camera_reader"
        pkg="vision_processing" type="franka_state_camera_reader"
        respawn="true" output="screen"/>

  <node name="sam3_server" pkg="vision_processing" type="sam3_server.py"
        respawn="true" output="screen"/>

  <include file="$(find panda_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="false"/>
  </include>

  <include file="$(find panda_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="moveit_controller_manager" value="simple"/>
    <arg name="info" value="true"/>
    <arg name="load_robot_description" value="false"/>
  </include>

</launch>